<div>
    <h1>Checkout</h1>
    <p>Gracias por tu compra <span>{{cliente}}</span>! Tu numero de orden es: <span>{{numTicket}}</span></p>
    <p>En breve te llegara un correo a <span>{{email}}</span> con toda la informacion!</p>
    <div>
        <a href="/products"><button class="btn-page">Tienda</button></a>
        <a href="/api/users/profile"><button class="own-btn">Mi Perfil</button></a>
    </div>
</div>