<h1>Login</h1>

<div class="container-universal">
  <form action="/api/users/login" method="POST">
    <div class="inside-container-A">
      <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required />
      </div>
    </div>
    <div class="btn-container">
      <button class="own-btn" type="submit">Ingresar</button>
    </div>

    <div class="btn-container">
      <p>¿Olvidate tu contraseña?
        <a href="/reset-password" class="restore-password">Restablecer
          Contraseña</a>
      </p>
    </div>
  </form>
  <div class="btn-container">
    <a href="/api/users/github"><button class="own-btn"> GitHub </button></a>
  </div>
  <div class="btn-container">
    <p>
      ¿No tenes cuenta?
      <a href="/register"><button class="restore-password">
          Registrate
        </button></a>
    </p>
  </div>
</div>