<h1>Restablecer Contraseña</h1>

<div class="container-universal">
  <form action="/api/users/requestPasswordReset" method="POST">
    <div class="inside-container-B">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required />
    </div>

    <div class="btn-container">
      <button type="submit" class="own-btn">Enviar Correo</button>
    </div>
  </form>
</div>

{{#if error}}
  <p>{{error}}</p>
{{/if}}