<h1>Restablecimiento de contraseña</h1>

<div class="container-universal">
  <form action="/api/users/reset-password/" method="POST">
    <div class="inside-container-B">
      <div>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required />
      </div>
      <div>
        <label for="token">Codigo de confirmacion:</label>
        <input type="text" id="token" name="token" required />
      </div>
      <div>
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required />
      </div>
    </div>

    <div class="btn-container">
      <button type="submit" class="own-btn">Restablecer Contraseña</button>
    </div>
  </form>
</div>

{{#if error}}
  <p>{{error}}</p>
{{/if}}