<h1>Mi Perfil</h1>

<div class="profile-container">
  <div>
    <h2 class="greeting">Bienvenido!
      {{user.first_name}}
      {{user.last_name}}!</h2>
    <p class="profile-info">Email: {{user.email}}</p>
    <p class="profile-info">Edad: {{user.age}}</p>
  </div>
  <div class="btn-profile">
    <a href="/api/users/logout"><button class="btn-user-B">Cerrar Sesión</button></a>
  </div>
</div>