<h1>Registrarse</h1>

<div class="register-container">
  <form action="/api/users" method="post">
    <div class="register">
      <label for="first_name">Nombre:</label>
      <input type="text" id="first_name" name="first_name" required />
    </div>
    <div class="register">
      <label for="last_name">Apellido:</label>
      <input type="text" id="last_name" name="last_name" required />
    </div>
    <div class="register">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
    </div>
    <div class="register">
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <div class="register">
      <label for="age">Edad:</label>
      <input type="number" id="age" name="age" required />
    </div>
    <div class="btn-register">
      <button class="btn-user-A" type="submit">Registrarse</button>
    </div>
  </form>
</div>